
<section class="carousel">
   
</section>
<section class="intro">
   <video autoplay muted loop>
      <source src="/assets/video/CDPP_presentation.mp4" type="video/mp4">
      Your browser does not support the video tag
   </video>
   <article>
      <h1>Bienvenue !</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, in? Ullam molestiae iusto accusamus omnis labore aliquam, ipsam odio vel quaerat provident eaque maiores sed facilis atque. Quidem nulla eaque est perspiciatis sint a aliquam deleniti commodi maxime? Quibusdam sint voluptate placeat, quo iure quia consequuntur accusantium id officia eius.</p>

   </article>

</section>
