<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Come and discover the art of Couisse De Poupou !">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>L'Art de Cuisse De Poupou</title>
    
    <!-- flavicon -->
    <link rel="icon" type="image/x-icon" href="/assets/image/Favicon_png.png">

    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    
</head>
<body>
    <header>
        <div class="header-top">
            
            <form>
                    
                <label for="light">Light</label>
                <input type="radio" name="theme" id="light" checked>
                
                <label for="dark">Dark</label>
                <input type="radio" name="theme" id="dark">
                
            </form>

            <div class="login_link">
                
                <% if(locals.user.role === "client"){ %>
                    
                        
                    <a href="/profile/<%= locals.user.id %>">
                        
                            <img src="/assets/image/Widget_profil.png" alt="icone de profile" />
                            <p>Profile</p>
    
                    </a>
                        
                        
                <% } else if(locals.user.role === "admin") { %>
                        
                    <a href="/admin">
                        <img src="/assets/image/Widget_profil.png" alt="icone de profile" />
                        <p>Profile</p></a>
                
                <% } else { %>
                    
                    <a href="/login" class="login_link" >Connexion / Inscription</a>
                        
                <% } %>
                
            </div>
        </div>
        <div>
            <nav class="container">
                <a href="/scrapbooking">Scrapbooking</a>
                    
                <a href="/" class="logo">
                        <img src="/assets/image/CDP_logo.svg" alt="Logo de Cuisse De Poupou: un raton mange une cuisse de poulet!">
                </a>
                    
                <a href="/art_numerique">Art Numérique</a>
                
            </nav>
        </div>
    </header>
    <script>
    // -----------------This allow the color theme to be loaded sooner to prevent light flashing with the dark theme
        if(window.localStorage.getItem("theme") === "dark") document.querySelector(`.header-top input[type="radio"][id="dark"]`).checked = true;
    </script>
    

    <main>
        
        <div class="sticky-nav">
            <nav class="container">
                    <a href="/scrapbooking">Scrapbooking</a>
                        
                    <a href="/">
                            <img src="/assets/image/CDP_logo.svg" alt="Logo de Cuisse De Poupou: un raton mange une cuisse de poulet!">
                    </a>
                        
                    <a href="/art_numerique">Art Numérique</a>
                    
            </nav>
            
        </div>
        <img src="/assets/image/Banniere_haut.svg" alt="Border in chicken's hips" id="stickyImg">
        
     
        <%- include(template) -%> 
        
        <img src="/assets/image/Banniere_bas.svg" alt="Border in chicken's hips">
    </main>

    <footer>
        <article class="container">
            <h3>Contactez-moi :</h3>
            <div>
                <img src="/assets/icone/courriel.webp" alt="icone pour email">
                <img src="/assets/icone/fb.webp" alt="icone pour fb">
                <img src="/assets/icone/linkdn.webp" alt="icone pour linkdn">
                <img src="/assets/icone/insta.webp" alt="icone pour insta">
            </div>

        </article>

    </footer>
    <!-- js script -->
    <script src="/js/script.js" type="text/javascript" defer></script>
</body>
</html>