<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Project</title>

    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <header class="blog-header">
        <div>
            <nav>
                <a href="/">Home</a>
                <a href="/scrapbooking">Scrapbooking</a>
                <a href="/art_numerique">Art Numérique</a>
                
                <% if(locals.isClient){ %>
                
                    
                    <a href="/profile/<%= locals.user.id %>">Profile</a>
                    
                    
                <% } else if(locals.isAdmin) { %>
                    
                    <a href="/admin">Profile</a>
            
                <% } else { %>
                
                    <a href="/login">Connexion</a>
                    
                <% } %>
            </nav>
        </div>
    </header>

    <main>
     
        <%- include(template) -%> 
        
    </main>

    <footer>
    </footer>
    <!-- js script -->
    <script src="/js/script.js" type="text/javascript" defer></script>
</body>
</html>