<section>
    <h2>Scrapbooking</h2>
    <% for(let produit of produits) { %>
    <article>
        <p><%= produit.nom %></p>
        <p><%= produit.description %></p>
        <p><%= produit.prix %></p>
    </article>
    <% } %>
</section>

