/*============================================================*/
        /*FONT*/
/*============================================================*/

/*--------------------RotisSerif*/
@font-face {
    font-family: "RotisSerif";
    src: url("/assets/font/RotisSerif.woff") format("woff");
}

/*--------------------WawaWritesWords*/

@font-face {
    font-family: "WWW";
    src: url("/assets/font/WawaWritesWords-Regular.otf") format("opentype");
}

@font-face {
    font-family: "WWW";
    font-weight: bold;
    src: url("/assets/font/WawaWritesWords-Bold.otf") format("opentype");
}

@font-face {
    font-family: "WWW";
    font-style: italic;
    src: url("/assets/font/WawaWritesWords-Italic.otf") format("opentype");
}

/*============================================================*/
        /*ROOT
/*============================================================*/

:root:has(#light:checked) {
    
/*--------------------light colors theme*/
    
    --main-color: rgb(53, 94, 167);
    --second-color: rgb(90, 47, 134);
    --accentuation-color: rgb(225, 41, 133);
    --chicken-color: rgb(250, 184, 14);
    --black-color: rgb(0, 0, 0);
    --white-color: rgb(255,255,255);
    
}

:root:has(#dark:checked) {
    
/*--------------------light colors theme*/
    
    --main-color: rgb(53, 94, 167);
    --chicken-color: rgb(90, 47, 134);
    --accentuation-color: rgb(225, 41, 133);
    --second-color: rgb(250, 184, 14);
    --white-color: rgb(0, 0, 0);
    --black-color: rgb(255,255,255);
    
}

/*--------------------font*/
:root {

    --main-font: "RotisSerif", Sans-Serif;
    --title-font: "WWW", Cursive;

}


/*============================================================*/
        /*LAYOUT
/*============================================================*/

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--main-font);
    font-variant-ligatures: contextual;
    
    background-color: var(--white-color);
    color:var(--black-color);
}

.container {
    max-width: 950px;
    margin: auto;
}

h1,
h2,
h3 {
    font-family:var(--title-font);
    font-weight: bold;
    
    
}

h1 {
    font-size: 2.5em;
    line-height: 90px;
    color: var(--second-color);
    
    
}

h2 {
    font-family: var(--main-font);
    font-size: 2em;
    line-height: 36px;
    color: var(--chicken-color);
}

h3 {
    font-size: 1.5em;
    line-height: 24px;
    color: var(--accentuation-color);
    font-weight: normal;
    
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 90%;
}


::-webkit-scrollbar-thumb {
  background: var(--second-color);
  border-radius: 2em;
}

/*==================HEADER*/

header {
    padding: 1em;
    background-color: var(--white-color);
    text-align: center;
    
    position: relative;
}

header a {
    padding: 1em 0;
    font-size: 1.3em;
   
    text-decoration: none;
    color: var(--second-color);
    
    border-radius: 1em;

    
}

header > div:last-child {
    border-bottom: 0.2em solid var(--second-color);
}

.header-top {
    display: flex;
    justify-content: space-between;
    
    padding: 2em;

    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.header-top form {
    display: flex;
    align-items: center;
    gap: 1em
}

.header-top form label {
    color: var(--second-color);
}

.header-top form input[type="radio"] {
    appearance: none;
    width: 1.3em;
    height: 1.3em;
    border: 2px solid var(--second-color);
    border-radius: 50%;
    
}

.header-top form input[type="radio"]:checked {
    background-color: var(--second-color);
    
}

.header-top div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}

.header-top div a {
    padding: 0;
}

.login_link {
    text-align: center;
}

.login_link img {
    max-width: 3em;
    
}

.login_link p {
    margin: 0;

}

header nav {
    display: flex;
    justify-content: space-between;
    gap: 40%;
    
    padding: 1em;
    
    position: relative;
    
    z-index: 1;
    
    font-family: var(--title-font);
    font-size: 1.5em; 

    flex-direction: column-reverse;
    align-items: center;
    

}

header nav a {
    margin: 0.5em;
    width: 100%;
    border:0.1em solid var(--second-color);
}



header a:hover,
header a:focus {
    text-decoration: underline;
    transition: 1s;
}


.logo {
    min-width: 10em;
    padding: 0;

    border: none;
    border-radius: 50%;
    order: 3;
    
}

.logo img {
    width: 100%;
    border-radius: 50%;
    
}




/*==================MAIN*/

/*------------------------------sticky-nav*/
 .sticky-nav {
    position: sticky;
    top: 0;
    z-index: -1;
    
}

.sticky-nav nav {
    /*visibility: hidden;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20%;

    display: none;
    
    
    padding: 1em;
    
    text-align: center;
    
    background-image: url("/assets/image/fond_site.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sticky-nav nav a {
    font-size: 1.5em;
    font-family: var(--title-font);
}

.sticky-nav nav img {
    width: 40%;
}

.sticky-fadeIn {
    visibility: visible;
    
    z-index: 0;
    
    animation: fadeIn 1s;
    transition: all 2s;
    
}

@keyframes fadeIn {
  0% { 
      opacity: 0; 
      
  }
  100% { 
      opacity: 1; 
      
  }
}


/*============================================================*/
        /*HOME
/*============================================================*/


main section {
    padding: 1em;
}

.carousel {
    min-height: 20em;
    background-image: url("/assets/carousel/maison.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.intro {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;

    

}

.intro article {
    flex-basis: none;
}

.intro article h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.intro article p {
    margin: 0;
}
.intro video {
    min-width:40%;
   border-radius: 1em;
}

/*============================================================*/
        /*SIGN IN / LOGIN
/*============================================================*/

.container form {
    max-width: 80%;
    padding: 1em;
    margin: auto;
    
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    
    padding: 2em;
    
    color: var(--second-color);
    border-radius: 2em;
    
}

legend {
    font-size: 1.3em;
    font-style: italic;
    font-family: var(--title-font);
    color: var(--chicken-color);
    
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 1em;
    font-size: 1.3em;
    border: 0.15em solid var(--second-color);
    border-radius: 3em;
    
    background-color:var(--white-color);
    color: var(--second-color);
    
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline-color: var(--chicken-color);
}

input[type="file"] {
    width: fit-content;
    color: #444;
    padding: 1em;
    border-radius: 0.5em;
    border: 0.15em solid var(--second-color);
}

input[type=file]::file-selector-button {
  border: none;
  background: var(--chicken-color);
  padding: 0.5em;
  border-radius: 0.5em;
  color: var(--white-color);
  cursor: pointer;
  transition: all .2s ease-in-out;
}
    



input[type="submit"],
button {
    width: 100%;
    padding: 0.5em;
    background-color: var(--second-color);
    border: none;
    border-radius: 3em;
    cursor: pointer;
    
    font-size: 1.3em;
    font-family:var(--title-font);
    color: var(--white-color);
    transition: all 0.5s;
}

input[type="submit"]:hover,
button:hover {
    transform: scale(1.15);
    color: var(--chicken-color);
    transition: all 0.5s;
    
}


/*============================================================*/
        /*PROFILE
/*============================================================*/

/*----------span for timestamp*/
.timeStamp {
    margin: 0.5em;
    font-size: 0.7em;
    color: var(--accentuation-color);
}


.profileGrid {
    display: grid;
    grid-template-areas:
    "d p"
    "c c"
    "a a";
    gap: 1em;
    
}

.profileGrid section {
    min-width: fit-content;
    border: 0.2em solid var(--second-color);
    border-radius: 1em;
    
    text-align: center;
    
}

.profileDetail {
    grid-area: d;
    /*height: fit-content;*/
    
}

.profileDetail input[type="text"] {
    font-size: 1rem;
    
}

.profilePanier {
    grid-area: p;
    
    
}

.profileCommande {
    grid-area: c;
   
    
}

.profileAchats {
    grid-area: a;
    
}

.articlePanier {
    width: 70%;
    margin: auto;
    padding: 0.5em;
    background-color: var(--chicken-color);
    border-radius: 1em;
}

.articleCommande {
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-areas:
    "co di"
    "an ta";
    gap: 0.5em;
    
    margin: 1em;
    padding: 1em;
    
    border: 0.2em solid var(--chicken-color);
    border-radius: 1em;
}

.articleCommande div:first-child {
    grid-area: co;
    /*display: flex;*/
}


.articleCommande div:first-child h3:before,
.articleCommande div:first-child h3:after {
    content: '"';
    color: var(--chicken-color);
    font-size: 2em;
}

.articleCommande div:nth-child(2) {
    grid-area: di;
    justify-self: stretch;
    padding: 1em 2em;
    min-height: 5em;
    max-height: 10em;
    overflow: scroll;
    
    border: 0.2em solid var(--accentuation-color);
    border-radius: 1em;
}



.articleCommande div:nth-child(2) p:nth-child(odd) {
    padding: 0.5em;
    border-top: 0.1em solid var(--chicken-color);
    color: var(--second-color);
    font-weight: bold;
    text-align: left;
}


.articleCommande div:nth-child(3) {
    grid-area: ta;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    
}


.articleCommande button {
    grid-area: an;
    align-self: center;
}

.articleCommande textArea {
    resize: none;
    width: 80%;
    min-height: 5em;
    
    padding: 0.5em;
    border-radius: 1em;
    
}


.price {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--chicken-color);
    
}


/*============================================================*/
        /*ADMIN PROFILE
/*============================================================*/

.adminGrid {
    display: grid;
    grid-template-areas:
    "d u"
    "a a"
    "e e";
    gap: 1em;
}

.adminGrid section {
    min-width: fit-content;
    border: 0.2em solid var(--second-color);
    border-radius: 1em;
    
    text-align: center;
    
}

.adminGrid table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    text-align: center;
}

.adminGrid table th,
.adminGrid table td {
    border: 0.2em solid var(--chicken-color);
    height: 2.5em;
    padding: 0.5em;
}

.adminGrid thead {
    background-color: var(--second-color);
}


.users {
    grid-area: u;
}


.addProduct {
    grid-area:a;
}

.addProduct form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.editProduct table input[type="text"],
.editProduct table select {
    width: 80%;
    border: none;
    padding: 0.3em;
    
}

select {
    background-color: var(--chicken-color);
    border-radius: 0.2em;
    border:none;
    color: var(--white-color);
    padding: 1em;


}

.editProduct {
    grid-area: e;
}





/*==================FOOTER*/

footer {
    padding: 2em;

}

footer article {
    padding: 1em;
    border: 0.2em solid var(--second-color);
    border-radius: 2em;
    text-align: center;
}

footer article div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    width: 40%;
    margin: auto;
}

footer article div img {
    width: 15%;
    flex-basis: 40%;
}

/*============================================================*/
        /*RESPONSIVE
/*============================================================*/

@media screen and (min-width: 890px) {

    .logo {
        position: absolute;
        top: -3em;
        left: 50%;
        z-index: 1;
        
        transform: translate(-50%);
    
        order: none;
        
    }

    header nav a {
        margin: 0;
        width: fit-content;
        border: none;
    }

    

    header nav {
        align-items: flex-start;
        flex-direction: row; 
    
    }
    

    .header-top {
        align-items: flex-start;
        flex-direction: row;
        gap: 0;
    }

    .intro video {
        flex-basis: 48%;
        min-width: 500px;
     
        border-radius: 1em;
    }

    .intro article {
        flex-basis: 48%
    }

    input[type="submit"],
    button {
        width: fit-content;
       
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: fit-content;
        padding: 0.5em;
        font-size: 1em;
    
        
    }




}
